---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers

CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: 5
  - key: readability-function-size.LineThreshold
    value: 80